<h2 mat-dialog-title>Descição Veiculo</h2>

<mat-dialog-content class="mat-typography">
    <h2>{{data.name}}</h2>
    <p><b>Modelo: </b>{{data.model}}</p>
    <p><b>Fabricante: </b>{{data.manufacturer}}</p>
    <p><b>Valor: </b>{{data.cost_in_credits}}</p>
    <p><b>Comprimento: </b>{{data.lenght}}</p>
    <p><b>Velocidade atmosferica máxima: </b>{{data.max_atmosphering_speed}}</p>
    <p><b>Equipe tecnica: </b>{{data.crew}}</p>
    <p><b>Classe: </b> {{data.starship_class}}</p>
    <p><b>Pilotos: </b></p>
    

</mat-dialog-content>

<div mat-dialog-actions class="btn">
    <button class="btn btn-dark" (click)="onNoClick()">Fechar</button>
</div>