<h2 class="text-center">Desenvolvido por:</h2>
<div class="container">
  <div class="row row-cols-1 row-cols-md-2 g-4 card">
    <div class="col">
      <div class="card shadow p-3 mb-5 bg-body rounded">
        <img src="../../../assets/joao.jpg" class="card-img-top" alt="..." />
        <div class="card-body">
          <h5 class="card-title">João Vitor Clavilho</h5>
          <p class="card-text">
            Sou um apaixonado por tecnologia desde que me entendo por gente,
            atualmente estudando para me tornar um desenvolvedor junior enquanto
            isso vou estagiando pela empresa Framework e me esforçando bastante
            para poder ajudar a empresa e me desenvolver profissionalmente e
            pessoalmente.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
