.formulario {
  margin-top: 10%;
}

.icon {
  width: 90px;
}

.container {
  opacity: 0.85;
}

.topo {
  align-items: center;
}

.body {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 11;
  width: 100%;
  height: 100%;
  background: url("../../../assets/background-stars.jpg");
}
