h1,
h2 {
  font-style: bold !important;
  font-size: 40px;
  margin-top: 30px;
  color: black;
}

.container {
  display: flex;
  justify-content: center;
}


.pesquisados {
  cursor: pointer;
}

.input {
  height: 50px;
  padding-left: 50px;
  z-index: 3;
  transition: width 1s ease-out;
  cursor: pointer;
  width: 385px;
  margin-left: 43px;
  border-radius: 12px;
}

.list-group-item {
  justify-content: center;
  display: flex;
}
