<h2 mat-dialog-title>Descrição do Filme</h2>
<mat-dialog-content class="mat-typography">
    <!-- <h3>{{personagemModal.name}}</h3> -->
    <h2>{{data.title}}</h2>
    <p> {{data.episoe_id}}</p>
    <p> <b>Introdução:</b> {{data.opening_crawl}}</p>
    <p><b>Diretor: </b> {{data.director}}</p>
    <p><b>Produtor: </b> {{data.producer}}</p>
    <p><b>Data de lançamento: </b>{{data.release_date | data}}</p>
    <p><b>Personagens: </b></p>
    <div *ngFor="let personagem of personagemFilme">
        <p>{{personagem.name}}</p>
    </div>

    <p><b>Planetas: </b></p>
    <div *ngFor="let planetas of planetaFilme">
        <p>{{planetas.name}}</p>
    </div>



</mat-dialog-content>

<div mat-dialog-actions class="btn">
    <button class="btn btn-dark" (click)="onNoClick()">Fechar</button>

</div>
