
<h2>Veiculos</h2>
<div class="container">
    <div class="card">

        <div class="card-content">
            <div class="card-info">
                <p>Veiculos</p>
                <h2>39</h2>
            </div>
            <img src="../../../assets/nave.svg" style="background-color: black;">
        </div>
    </div>
</div>
<div style="padding: 13px;" class="div">
    <mat-spinner *ngIf="veiculoArray.length === 0"></mat-spinner>
    <div *ngFor="let veiculo of veiculoArray" class="vei">
        <mat-card style="margin-top:11px;" class="example-card card-films" (click)="onClick(veiculo)" >
            <mat-card-header>
                <mat-card-title>{{veiculo.name}}</mat-card-title>
            </mat-card-header>
        </mat-card>
    </div>

</div>

<mat-paginator [pageIndex]="pageIndex" [length]="pageSize" [pageSize]="veiculoArray.length"
    (page)="proximaPagina($event)">
</mat-paginator>
