<h2>Planetas</h2>

<div style="padding: 13px;" class="div">
    <mat-spinner *ngIf="planetasArray.length === 0"></mat-spinner>

    <div *ngFor="let planeta of planetasArray">
        <mat-card style="margin-top: 11px;" class="example-card" (click)="onClick(planeta)">
            <mat-card-header>
                <mat-card-title>{{planeta.name}}</mat-card-title>
            </mat-card-header>
        </mat-card>
    </div>

</div>

<mat-paginator [pageIndex]="pageIndex" [length]="pageSize" [pageSize]="planetasArray.length"
    (page)="passarPagina($event)"></mat-paginator>

<!--page)="passarPagina($event)"-->